/* body */
body {
    background-color: #f6f8f9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

/* logo */
header {
    background-color: #ffffff;
    padding-left: 20px;
}

#nome {
    display: inline-block;
    font-size: 40px;
    vertical-align: 10px;
}

/* main */
main {
    width: 50%;
    margin: 30px auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding-bottom: 30px;
}

/* sezione bottoni */
.section-button {
    padding: 20px;
    border-bottom: 2px solid #f6f8f9;
}

.b-blue {
    background-color: #47adf1;
    border-radius: 6px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 15px;
}

.b-white {
    background-color: #ffffff;
    border: 2px solid grey;
    border-radius: 6px;
    color: grey;
    padding: 10px 25px;
    text-align: center;
    font-size: 15px;
}

/* bottoni lista */
.editorial {
    background-color: #47adf1;
    border-radius: 6px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    border: none;
}

/* sezione lista */

.title-ul{
    font-weight: bold;
    font-size: 20px;
}

